<!-- <app-abstract-modal (cancel)="onCancel()" (confirm)="onConfirm()"> -->
<app-abstract-modal (cancel)="onCancelClicked()" (confirm)="onConfirmClicked()">
  <div class="relative overflow-visible">
    <form [formGroup]="planMenuItemForm" (ngSubmit)="onPlanMenuItemFormSubmit()">
      <div class="mb-6">
        <app-menu-item-picker [allMenuItems]="allMenuItems" formControlName="menuItem"></app-menu-item-picker>
      </div>

      <div class="mb-6">
        <label class="block text-sm font-medium text-gray-700" for="time">Time</label>
        <input
          type="time"
          class="w-full rounded-md border border-gray-300 px-2 py-1 text-center shadow-sm outline-none placeholder:font-normal focus:border-blue-300 focus:outline-none focus:ring focus:ring-blue-200 focus:ring-opacity-50"
          formControlName="time"
          placeholder="HH:mm" />
      </div>

      <div class="mb-6">
        <label class="block text-sm font-medium text-gray-700" for="time">Comment</label>
        <textarea
          class="w-full rounded-md border border-gray-300 px-2 py-1 text-center shadow-sm outline-none placeholder:font-normal focus:border-blue-300 focus:outline-none focus:ring focus:ring-blue-200 focus:ring-opacity-50"
          formControlName="comment"
          placeholder="Comment">
        </textarea>
      </div>
    </form>
  </div>
</app-abstract-modal>
