<div class="bg-white border-b border-gray-100 shadow">
    <div class="mx-auto py-6 px-12 flex">
        <h1 class="inline-block mx-2 font-semibold text-3xl align-bottom text-blue-900">Menu Planner</h1>

        <div class="flex-1"></div>
        <a routerLink="/" class="rounded-md cursor-pointer bg-blue-800 text-white items-center flex p-2 font-semibold uppercase text-sm tracking-widest" routerLinkActive="hidden" [routerLinkActiveOptions]="{exact: true}">Overzicht
        </a>
        <a routerLink="/recipes" class="rounded-md cursor-pointer bg-blue-800 text-white items-center flex p-2 font-semibold uppercase text-sm tracking-widest" routerLinkActive="hidden">Gerechten
        </a>
    </div>
</div>