<div class="fixed top-0 left-0 h-screen w-screen bg-black opacity-25" (click)="cancelClicked()"></div>

<div class="fixed top-0 left-0 flex h-screen w-screen items-center justify-center">
  <div class="z-10 flex-initial rounded-md bg-white opacity-100">
    <h2 class="p-2 text-center text-lg font-semibold">Header</h2>
    <div class="p-4">
      <ng-content> </ng-content>
    </div>

    <div class="flex justify-end rounded-b-md bg-gray-50 py-4 px-4">
      <button
        class="rounded bg-red-700 px-4 py-2 text-xs font-semibold uppercase tracking-widest text-white transition duration-150 ease-in-out hover:bg-red-800"
        type="button"
        (click)="cancelClicked()">
        Annuleren
      </button>
      <div class="px-2"></div>
      <button
        class="rounded bg-gray-800 px-4 py-2 text-xs font-semibold uppercase tracking-widest text-white transition duration-150 ease-in-out hover:bg-gray-700"
        type="button"
        (click)="confirmClicked()">
        Opslaan
      </button>
    </div>
  </div>
</div>
