<!-- bovenaan links info, rechts form om nieuw gerecht aan te maken. 
     eronder dan een tabel met alle gerechten (eventueel met paginas)-->

<div class="py-8 px-32">
  <div class="grid grid-cols-3 gap-6">
    <div class="col-span-1 inline-block">
      <h2 class="text-xl font-semibold text-gray-700">Nieuw Gerecht</h2>
      <p class="pl-2 text-gray-700">Vul hier de gegevens van het nieuwe gerecht in.</p>
    </div>
    <div class="col-span-2 inline-block overflow-hidden rounded-xl border bg-white shadow">
      <form [formGroup]="createMenuItemForm" (ngSubmit)="onCreateMenuItemFormSubmit()">
        <div class="p-4">
          <div class="m-2 mb-4">
            <label class="block text-sm font-medium text-gray-700" for="title">Titel</label>
            <input
              class="w-1/2 rounded-md border border-gray-300 px-2 py-1 shadow-sm focus:border-blue-300 focus:outline-none focus:ring focus:ring-blue-200 focus:ring-opacity-50"
              type="text"
              formControlName="title" />
          </div>

          <div class="m-2 mb-4">
            <label class="block text-sm font-medium text-gray-700" for="description">Beschrijving</label>
            <input
              class="w-1/2 rounded-md border border-gray-300 px-2 py-1 shadow-sm focus:border-blue-300 focus:outline-none focus:ring focus:ring-blue-200 focus:ring-opacity-50"
              type="text"
              formControlName="description" />
          </div>

          <div class="m-2 mb-4">
            <label class="block text-sm font-medium text-gray-700" for="categories">Categorie</label>
            <select class="w-1/2 rounded-md border border-gray-300 px-2 py-1 shadow-sm" formControlName="category">
              <option>Pasta</option>
              <option>Rijst</option>
              <option>Aardappelen</option>
            </select>
          </div>
        </div>
        <div class="flex justify-end bg-gray-50 py-4 px-4">
          <button
            class="mr-4 rounded bg-red-700 px-4 py-2 text-xs font-semibold uppercase tracking-widest text-white transition duration-150 ease-in-out hover:bg-red-800"
            type="button"
            (click)="createMenuItemForm.reset()">
            Annuleren
          </button>
          <button
            class="mr-4 rounded bg-gray-800 px-4 py-2 text-xs font-semibold uppercase tracking-widest text-white transition duration-150 ease-in-out hover:bg-gray-700 disabled:cursor-not-allowed disabled:bg-gray-200 disabled:text-gray-400"
            type="submit"
            [disabled]="createMenuItemForm.invalid">
            Opslaan
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="mt-8">
    <div class="overflow-auto rounded-xl border shadow">
      <form [formGroup]="editMenuItemForm" (ngSubmit)="onEditMenuItemFormSubmit()">
        <table>
          <thead>
            <tr>
              <th>Naam</th>
              <th>Beschrijving</th>
              <th>Categorie</th>
              <th class="w-1/4">Acties</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let menuItem of menuItems">
              <ng-container *ngIf="!editingMenuItem || menuItem.id !== editingMenuItem.id">
                <td>{{ menuItem.title }}</td>
                <td>{{ menuItem.description }}</td>
                <td>{{ menuItem.category }}</td>
                <td>
                  <button
                    class="m-2 rounded bg-gray-800 px-4 py-2 text-xs font-semibold uppercase tracking-widest text-white transition duration-150 ease-in-out hover:bg-gray-700"
                    type="button"
                    (click)="onEditMenuItemClicked(menuItem)">
                    Aanpassen
                  </button>
                  <button
                    class="m-2 rounded bg-red-700 px-4 py-2 text-xs font-semibold uppercase tracking-widest text-white transition duration-150 ease-in-out hover:bg-red-800"
                    type="button"
                    (click)="onDeleteMenuItemClicked(menuItem)">
                    Verwijderen
                  </button>
                </td>
              </ng-container>
              <ng-container *ngIf="editingMenuItem && editingMenuItem.id === menuItem.id">
                <td>
                  <input
                    class="rounded-md border border-gray-300 px-2 py-1 shadow-sm focus:border-blue-300 focus:outline-none focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                    id="description"
                    type="text"
                    formControlName="title" />
                </td>
                <td>
                  <input
                    class="rounded-md border border-gray-300 px-2 py-1 shadow-sm focus:border-blue-300 focus:outline-none focus:ring focus:ring-blue-200 focus:ring-opacity-50"
                    id="description"
                    type="text"
                    formControlName="description" />
                </td>
                <td>
                  <select
                    id="categories"
                    class="rounded-md border border-gray-300 px-2 py-1 shadow-sm"
                    formControlName="category">
                    <option>Pasta</option>
                    <option>Rijst</option>
                    <option>Aardappelen</option>
                  </select>
                </td>
                <td>
                  <button
                    class="m-2 rounded bg-gray-800 px-4 py-2 text-xs font-semibold uppercase tracking-widest text-white transition duration-150 ease-in-out hover:bg-gray-700 disabled:cursor-not-allowed disabled:bg-gray-200 disabled:text-gray-400"
                    type="submit"
                    [disabled]="editMenuItemForm.invalid">
                    Opslaan
                  </button>
                  <button
                    class="m-2 rounded bg-red-700 px-4 py-2 text-xs font-semibold uppercase tracking-widest text-white transition duration-150 ease-in-out hover:bg-red-800"
                    type="button"
                    (click)="editingMenuItem = undefined">
                    Annuleren
                  </button>
                </td>
              </ng-container>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
  </div>
</div>
